<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> 首页 - 视频搜索 </title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="Author" content="xiewulong" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link rel="stylesheet" type="text/css" href="/static/css/public.css" />
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tinyscrollbar.min.js"></script>
<!--
<script type="text/javascript" src="js/require-2.0.4.js"></script>
<script type="text/javascript" src="js/Narya.js"></script>
-->
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script src="js/png.js"></script>
<![endif]-->
</head>

<body>

<div id="scrollbar" class="scrollbar">

<div id="wdj_xwl_search" class="wdj_xwl_search fix">
	<div class="wdj_xwl_search_btn"><a href="#" id="wdj_xwl_search_btn"></a></div>
	<div class="wdj_xwl_search_ipt"><span><form method="get" action="/static/list.html" id="searchform"><input type="text" id="wdj_xwl_search_ipt" class="wdj_xwl_inputs" name="word" /></form></span></div>
</div>

<div class="w760 mrla">

	<div class="topcomefrome" style="font-size:12px;color:#999;margin-left:10px;">以下内容由「<a href="http://tv.sohu.com/drama/" target="_default">搜狐视频</a>」 提供</div>

	<div id="wdj_xwl_wrap_index">

		<div id="wdj_xwl_focus" class="wdj_xwl_focus">
			<ul>
				<li><a href="show?vid=M93d7afc2011"><img src="/static/images/banner1.jpg" /></a></li>
				<li><a href="show?vid=Mdcbea122012"><img src="/static/images/banner2.jpg" /></a></li>
				<li><a href="show?vid=Mf19d9e32011"><img src="/static/images/banner3.jpg" /></a></li>
				<li><a href="show?vid=T3d023162011"><img src="/static/images/banner4.jpg" /></a></li>
				<li><a href="show?vid=Mc5b37052011"><img src="/static/images/banner5.jpg" /></a></li>
				<li><a href="show?vid=Tb2a8fef2012"><img src="/static/images/banner6.jpg" /></a></li>
				<li><a href="show?vid=T1f676672011"><img src="/static/images/banner7.jpg" /></a></li>

			
			</ul>
			<div class="wdj_xwl_focus_scroll">
				<div class="wdj_xwl_focus_scroller_wrap">
					<div class="wdj_xwl_focus_scroller">
						<p>
							<span><a href="javascript:;"><img src="/static/images/banner1.jpg" /></a><i></i><em></em></span>
							<span><a href="javascript:;"><img src="/static/images/banner2.jpg" /></a><i></i><em></em></span>
							<span><a href="javascript:;"><img src="/static/images/banner3.jpg" /></a><i></i><em></em></span>
							<span><a href="javascript:;"><img src="/static/images/banner4.jpg" /></a><i></i><em></em></span>
							<span><a href="javascript:;"><img src="/static/images/banner5.jpg" /></a><i></i><em></em></span>
							<span><a href="javascript:;"><img src="/static/images/banner6.jpg" /></a><i></i><em></em></span>
							<span><a href="javascript:;"><img src="/static/images/banner7.jpg" /></a><i></i><em></em></span>
							
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="fix pb5">
			<div class="wdj_xwl_rw fr">
				<div class="wdj_xwl_box">
					<div class="wdj_xwl_box_title">
						<a href="/static/tlist.html?list=thot" class="wdj_xwl_box_title_more fr">更多</a>
						<h3>电视剧排行榜</h3>
					</div>
					<div class="wdj_xwl_box_con">
						<div id="wdj_xwl_json_2" class="wdj_xwl_sublist">
						{% for n in range(15) %}
							{% if n < len(toptv) %}
								{% if n == 0 %}
									<p class="first fix"><a href="show?vid={{ toptv[n]['id'] }}" class="thumb"><img src="{{ toptv[n]['pic'] }}"><i>1</i></a><strong class="fix"><em>{{ toptv[n]['score']  }}</em><a href="show?vid={{ toptv[n]['id'] }}">{{ toptv[n]['title'] }}</a></strong><span>{{ toptv[n]['info'] }}</span></p>
								{% else %}
									<p><em>{{ toptv[n]['score'] }}</em><i>{{ n+1 }}</i><strong><a href="show?vid={{ toptv[n]['id'] }}">{{ toptv[n]['title'] }}</a></strong></p>
								{% end %}
							{% end %}
						{% end %}

						</div>
					</div>
				</div>
			</div>
			<div class="auto wdj_xwl_lw">
				<div class="wdj_xwl_box">
					<div class="wdj_xwl_box_title">
						<a href="/static/tlist.html?list=tnew" class="wdj_xwl_box_title_more fr">更多</a>
						<h3>同步热播电视剧</h3>
					</div>
					<div class="wdj_xwl_box_con">
						<ul id="wdj_xwl_json_3" class="wdj_xwl_vlist">
						{% for n in range(12) %}
							{% if n < len(toptv) %}
								{% if (n+1) %4 == 0 %}
									<li class="pr0"><p>
								{% else %}
									<li><p>
								{% end %}
								<a href="show?vid={{ newtv[n]['id'] }}"><img src="{{ newtv[n]['pic'] }}"></a>
								<strong><a href="show?vid={{ newtv[n]['id'] }}">{{ newtv[n]['time'] }}</a></strong>
								<i></i>
								</p>
								<span><a href="show?vid={{ newtv[n]['id'] }}">{{ newtv[n]['title']}}</a></span>
								</li>
							{% end %}
						{% end %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="fix pb5">
			<div class="wdj_xwl_rw fr">
				<div class="wdj_xwl_box">
					<div class="wdj_xwl_box_title">
						<a href="/static/mlist.html?list=mhot" class="wdj_xwl_box_title_more fr">更多</a>
						<h3>电影排行榜</h3>
					</div>
					<div class="wdj_xwl_box_con">
						<div id="wdj_xwl_json_1" class="wdj_xwl_sublist">
						{% for n in range(15) %}
							{% if n ==0 %}
								<p class="first fix"><a href="show?vid={{ topmovie[n]['id'] }}" class="thumb"><img src="{{ topmovie[n]['pic'] }}"><i>1</i></a><strong class="fix"><em>{{ topmovie[n]['score']  }}</em><a href="show?vid={{ topmovie[n]['id'] }}">{{ topmovie[n]['title'] }}</a></strong><span>{{ topmovie[n]['info'] }}</span></p>
							{% else %}
								<p><em>{{ topmovie[n]['score'] }}</em><i>{{ n+1 }}</i><strong><a href="show?vid={{ topmovie[n]['id'] }}">{{ topmovie[n]['title'] }}</a></strong></p>
							{% end %}
						{% end %}
                        
						</div>
					</div>
				</div>
			</div>
			<div class="auto wdj_xwl_lw">
				<div class="wdj_xwl_box">
					<div class="wdj_xwl_box_title">
						<a href="/static/mlist.html?list=mnew" class="wdj_xwl_box_title_more fr">更多</a>
						<h3>同步热播电影</h3>
					</div>
					<div class="wdj_xwl_box_con">
						<ul id="wdj_xwl_json_4" class="wdj_xwl_vlist">

						{% for n in range(12) %}
							{% if (n+1) %4 ==0 %}
								<li class="pr0"><p>
							{% else %}
								<li><p>
							{% end %}
							<a href="show?vid={{ newmovie[n]['id'] }}"><img src="{{ newmovie[n]['pic'] }}"></a>
							<strong><a href="show?vid={{ newmovie[n]['id'] }}">{{ newmovie[n]['time'] }}</a></strong>
							<i></i>
							</p>
							<span><a href="show?vid={{ newmovie[n]['id'] }}">{{ newmovie[n]['title']}}</a></span>
							</li>
						{% end %}

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="fix pb5">
			<div class="wdj_xwl_rw fr">
				<div class="wdj_xwl_box">
					<div class="wdj_xwl_box_title"><h3>&nbsp;</h3></div>
					<div class="wdj_xwl_box_con"></div>
				</div>
			</div>
		</div>
	</div>

</div>

</div>

<script type="text/javascript" src="/static/js/main.js"></script>

</body>
</html>
