<html>
    <head>
        <meta charset="utf-8" />
        <title>文件上传</title>
    </head>
  <body>
    <div align="center">
    <form name="update" enctype="multipart/form-data" method="post" action="update">
    <table class="width50" cellspacing="1">
    <tr>
        <td class="form-title">
                <input type="hidden" name="return" value="update" />
                上传升级程序：</td>
        <td class="right"></td>
    </tr>
    <tr class="row-1">
        <td class="category">
            版本号    </td>
        <td>
            <input type="text" name="version" size="50" maxlength="50" value="" />
        </td>
    </tr>
    <tr class="row-2">
        <td class="category">
            文件列表（可多选）</td>
        <td>
            <input type='file' name='file' multiple="true" />
        </td>
    </tr>
    <tr class="row-3">
        <td class="category">
            项目名    </td>
        <td>
            <input type="text" name="projectname" size="50" maxlength="50" value id="file" />
        </td>
    </tr>
    <tr class="row-3">
        <td class="category">
            密码    </td>
        <td>
            <input type="password" name="password" size="50" maxlength="50" value id="file" />
        </td>
    </tr>

    <tr class="row-3">
        <td class="category">
            Changelog    </td>
        <td>
            <textarea name="changelog" wrap="logical" rows="20" cols="80"> </textarea>
        </td>
    </tr>
    <tr>
        <td class="center" colspan="2">
            <input type="submit" class="button" value="上传" />
        </td>
    </tr>
    </table>
    </form>
    </div>
  </body>
</html>