<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body onLoad="document.forms.myform.code.focus()">

<form name="myform" id="myform"  action="/vote" method="post">
<img id='code_img' onclick='this.src=this.src+"&"+Math.random()' src='files/v.png'>
<input name="code" type="text" id="code" size="10"  class="input-text"/>
<input type="hidden" name="subjectid" value="15">
<input type="submit" name="b1" value="GO">
</form>


</body>
</html>
